.container {
    padding-top: 2em;
    width: 100%;
}
@media only screen and (min-width: 500px) {
    .container {
        width: 80%;
    }
}
.inputContainer,
.selectContainer {
    position: relative;
    display: flex;
    align-items: center;
}
.inputContainer i {
    position: absolute;
    right: 1em;
}
.searchBar {
    height: 45px;
    border-radius: 22px;
    border: 1px solid rgb(0, 0, 83);
}
.searchBar::placeholder {
    color: rgb(0, 0, 83);
}
.select {
    height: 45px;
    border-radius: 22px;
    border: 1px solid rgb(0, 0, 83);
    background-color: transparent !important;
    color: black !important;
    width: 100% !important;
}
.select {
    color: rgb(0, 0, 83) !important;
    text-align: left;
}
.text {
    padding: 0.6rem;
}
.select::after {
    position: absolute;
    right: 10px;
    top: 20px;
    color: rgba(44, 128, 255, 0.747);
    width: 10px;
}
.profileImage {
    width: 100%;
    height: auto;
}
.column {
    padding: 1em;
}
.profileName {
    font-size: 18px !important;
}
.points {
    font-size: 10px !important;
}
.profileObjectives {
    font-size: 16px !important;
}
.profileObjectives,
.profileName,
.points {
    color: rgb(0, 60, 151) !important;
}
.profileContainer {
    text-align: left;
    padding: 1em;
}
.listParent {
    display: inline-block;
    list-style-type: none;
    overflow: hidden;
    padding-inline-start: 0px !important;
}
.listParent li {
    width: 50%;
    float: left;
}
.profileDesc {
    font-weight: 500;
    font-size: 14px;
}
.buttonContainer {
    position: relative;
}
.profileAction {
    float: right;
    background-color: rgb(5, 5, 141);
    height: 45px;
    border-radius: 20px;
    padding-right: 1em;
    padding-left: 1em;
}
@media only screen and (max-width: 500px) {
    .profileAction {
        width: 100%;
    }
}

