.footerContainer {
    background-color: #2a4f96;
    color: white;
    text-align: left;
    padding: 3em;
    height: 10rem;
    position: absolute;
    bottom: 0;
}
.footerLogo {
    font-size: 40px;
}
