.launchPageWrapper {
    display: grid;
    place-items: center;
    height: 100vh;
}
.launchPageRow{
    width: 100%;
    height: 80%;
} 
.columnCenter {
    display: grid;
    place-items: center;
}
.heading {
    color: #2A4F96;
}
.inputField {
    height: 40px;
    border-radius: 20px;
    border: 1px solid #2A4F96;
}
.errorMessageContainer {
    height: 0.8em;
}
.signinContainer,
.signupContainer {
    width: 100%;
    height: 45px;
    margin-bottom: 1em !important;
}
.inputContainer {
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    position: relative;
    display: flex;
    align-items: center;
}
.inputContainer i {
    position: absolute;
    right: 1em;
}
.columnRightBorder {
    border: none;
}
.columnRightBorder {
    border-right: none;
}
@media only screen and (min-width: 991px) {
    .columnRightBorder {
        border-right: 2px solid #35478B;
    }
}
.signinOptions {
    display: flex;
    justify-content: space-between;
}
.links {
    color: #707070;
}

/* errormessages */
.errorMessages {
    text-align: left;
    color: red;
    font-size: 14px;
    padding-left: 1em;
}
