.App {
    text-align: center;
    height: 100vh !important;
    width: 100vw !important;
    overflow-x: hidden;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.row {
    --bs-gutter-x: 0 !important;
}